.code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}
section > div {
  margin-bottom: 15px;
}
::host ::ng-deep .range-datepicker {
  background-color: violet;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  height: auto !important;
}