<form [formGroup]="form">
  <section>
    <h2>Custom Footer (Default Ranges)</h2>
    <div>
      <span class="code">calendarFooterComponent</span> option allows you to
      define a footer in the calendar simalar to custom headers.
    </div>
    <mat-form-field>
      <input
        matInput
        placeholder="Choose a date"
        [satDatepicker]="picker6"
        formControlName="date"
      />
      <sat-datepicker
        #calendar
        #picker6
        [rangeMode]="true"
        [closeAfterSelection]="false"
        panelClass="range-datepicker"
        [calendarHeaderComponent]="rangesFooter"
        [selectFirstDateOnClose]="false"
      >
      </sat-datepicker>

      <!-- <sat-calendar
        [rangeMode]="true"
        (dateRangesChange)="inlineRangeChange($event)"
        (beginDateSelectedChange)="inlineBeginChange($event)"
        #inlineRangePicker
      >
      </sat-calendar> -->

      <sat-datepicker-toggle matSuffix [for]="picker6"></sat-datepicker-toggle>
    </mat-form-field>
  </section>
  <hr />
</form>
